html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #333;
}

.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.section {
  padding: 9.6rem 0;
}

.mb-lg {
  margin-bottom: 10rem !important;
}

.heading-1 {
  font-size: 6.5rem;
  color: transparent;
  text-transform: uppercase;
  margin-bottom: 3rem;
  background-image: linear-gradient(45deg, #3b79ff, #ff1ead);
  background-clip: text;
  -webkit-background-clip: text;
}

.heading-2 {
  color: transparent;
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-bottom: 9.8rem;
  background-image: linear-gradient(to top, #3b79ff, #ff1ead);
  background-clip: text;
  -webkit-background-clip: text;
}

.heading-3 {
  font-size: 1.8rem;
  color: transparent;
  text-transform: uppercase;
  margin-bottom: 2rem;
  background-image: linear-gradient(to top, #3b79ff, #ff1ead);
  background-clip: text;
  -webkit-background-clip: text;
}

.caption {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #3b79ff;
  margin-bottom: 1rem;
}

.text {
  width: 80%;
  font-size: 2rem;
  margin-bottom: 5rem;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 2rem 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-image: linear-gradient(135deg, #3b79ff, #ff1ead);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 2rem;
  transition: all 0.2s ease;
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
}
.btn:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  transform: translate(1rem, 1rem);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header .nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .logo {
  width: 12rem;
}
.header .nav__list {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.header .nav__link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #002983;
  transition: all 0.2s ease;
}
.header .nav__link:hover {
  color: #ff1ead;
}
.header .nav__btn, .header .nav__btn:visited {
  color: white;
  display: block;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right, #3b79ff, #ff1ead);
}
.header .nav__btn:hover, .header .nav__btn:visited:hover {
  color: #eee;
}

.hero {
  padding: 12rem 0 9.8rem;
  padding-left: 17.5rem;
  background-image: linear-gradient(135deg, rgba(135, 173, 254, 0.8), rgba(255, 119, 205, 0.5));
}
.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero__text-box {
  padding-top: 8rem;
  width: 100%;
}

.story {
  padding: 9.8rem 0;
}
.story__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.8rem;
}
.story__img {
  border-radius: 2rem;
}
.story__icons {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.story__icons .face {
  fill: #3b79ff;
}
.story__icons .insta {
  fill: #ff1ead;
}
.story__icon {
  width: 4rem;
  height: 4rem;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */